{% set items = ["item1", 'item'] %}

{% for item in items %}
  <div>
    {{ item(foo|bar) }}
  </div>
{% endfor %}
{% block name %}
  {% if condition %}
    {% else %}

  {% endif %}
{% endblock %}


{# A comment #}
{% set foo = bar is undefined ? foo : baz %}
